<div id="background">

<div id="logo_wrapper">
 <%= image_tag('logo.png', class: 'logo') %>
</div>

	<div id="headline">
		Your Home, More Lovely
	</div>

	<div id="subtext">
		Ala Fresh Flowers Delivered To Your Door
	</div>

 <div class='form'>
		<form action="/lists/b87cecaa20/subscribe/" method="post" class="form">
		 <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	    <input type="hidden" name="list_id" value="b87cecaa20"/>
	    <input type="email" name="email" placeholder="Email Address" class="field"/>
	    <br>
	     <input type="submit" class="button_style btn" value="Request Invitation"/>
		
		</form>
	</div>

</div>