<div id="background">

	<div id="share">

			<h1> Merci!  </h1>
			<h2> We'll send you an invitation soon. </h2>
			
			<div class='win'>
				
					Share now for your chance to win a $100 Lululemon gift card.
			

			</div>
			<h2>
				Share On
			</h2>

			<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com" target="_blank">
				 <%= image_tag('facebookbutton.jpg', class: 'facebook') %>
			</a>

			<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com" target="_blank">
 			<%= image_tag('twitterbutton.jpg', class: 'facebook')  %>
		</a>

	</div>


</div>