// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	margin:0px;
}

#background{
	background:  image-url('flower_background.jpg');
	background-size: 100%;
	width:100%;
	position:fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
	overflow: hidden;

}

#headline{
	text-align:center;
	color: white;
	font-weight: bold;
	font-size: 55px;
	font-family: 'Raleway', sans-serif;
	padding-top: 5px;
	text-shadow: black 1px 1px 4px #4e4e4e;
	text-transform: uppercase;
	line-height: 40px;
	margin-top: 10px;
}

#subtext{
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	text-align: center;
	font-size: 26px;
	text-transform: uppercase;
	margin: 15px;
	color: #4e4e4e;
}

.field{
	text-align: center;
	width:500px;
	height: 40px;
	font-size: 20px;
	margin-top: 30px;
	font-family: 'Roboto Slab', serif;

}

.button_style{

	  background: #ee5467;
	  border-radius: 2px;
	  border: 0px;
	  color: white;
	  text-align: center;
	  font-size: 18px;
	  line-height: 50px;
	  height: 50px;
	  padding: 0px 50px;
	  cursor: pointer;
		float: left;
	  margin: auto;
	  margin-top: 20px;
	  margin-left: 125px;
	  box-shadow: 1px 1px 5px #464545;
}

.form{
	margin: auto;
	width:500px;
}


#share{
	background:  image-url('scallopbox.png');
	background-size: 500px;
	height: 425px;
	width: 425px;

	margin:auto;
	margin-top: 35px;
	padding: 35px;
	text-align: center;


}

h1{


	font-family: 'Raleway', sans-serif;
	color: #ee5467;
	font-size: 70px;
	margin : 15px;
	text-transform: uppercase;
	margin-top: 80px;
}


h2 {
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	font-size: 13px;
}

.win{

	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	margin: 15px;
	margin-top: 60px;
}

p {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	text-transform: uppercase;

}

.facebook{
	margin: 10px;
}

.logo{
	margin: auto;
	text-align: center;
	margin-top: 15px;
	width: 140px;
}

#logo_wrapper{
	margin:auto;
	width:140px;
}