
<div class="container order-summary" style="padding-bottom: 50px;"> 
	<h1 style="font-size: 45px"> Thanks! </h1>
	<h2 style="text-align:center;"> Let's spark our team to be entrepreneurs! </h2>

	<p> You paid $899.00 for the Spark Entrepreneurs Team Breakthrough. I'm so excited for all the amazing growth you will see from your team for your patients and your practice. <strong> I will email you in the coming week with a link to your 4 Dimensions of Entrepreneurial Success Assessment. </strong> Please feel free to contact me at sam@sparkentrepreneurship.com if you have any questions. </p> 



</div>