
<div class="container order-summary" style="padding-bottom: 50px;"> 
	<h1 style="font-size: 45px"> Thanks! </h1>
	<h2 style="text-align:center;"> Spark Entrepreneur Dental Package </h2>

	<p> You paid $899.00 for the Spark Entrepreneur Dental Package. I'm so excited for all the amazing growth you will see from your team. <strong> I will email you in the next 48 hours with a link to your 4 Dimensions of Entrepreneurial Success Assessment. </strong> Please feel free to contact me if you have any questions. </p> 



</div>