

<div class="container order-summary"> 
	<h1 style="font-size: 45px"> Order Summary </h1>
	<h2 style="text-align:center;"> Spark Entrepreneur Dental Package </h2>

	<p>  Access to the 4 Dimensions of Entrepreneurial <br> Success Assesment</p>

	<p> Interpretations of assesment results </p>

	<p> 2 one hour long webinars </p>

	<p> 2 coupons for 30 minutes of FREE personal coaching  </p>

	<hr>


<p> Price: $1000.00 </p>
<p> - Team Training Institute discount: $101 </p>
<p> <strong> Total: $899.00  </strong></p>


<%= form_tag charges_path do %>
 

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @order.user.name %>'s Package"
          data-amount="89900"
          data-email="<%=@order.user.email %>">
          </script>
<% end %>
</div>

