

<div class="container order-summary"> 
	<h1 style="font-size: 45px"> Order Summary </h1>
	<h2 style="text-align:center;"> Spark Entrepreneur Dental Package </h2>

	<p>  Access to the <strong>4 Dimensions of Entrepreneurial <br> Success Assessment</strong></p>

	<p> Interpretations of assessment results </p>

	<p> <strong>2 one hour long webinars</strong> teaching you how to take <br>the results and implement them in your own practice </p>

	<p> 2 coupons for 30 minutes of <strong>personal coaching</strong>  </p>

	<hr>

<div id='price' style="text-align:left; width: 300px; margin: 45px auto;">
<p style="margin-left: 70px"> Price: <span>$1000.00</span> </p>
<p> - TTI discount:  <span style="color: red;">$101.00</span> </p>
<p style="margin-left: 65px"> <strong> Total:  <span>$899.00 </span> </strong></p>
</div>


<%= form_tag charges_path do %>
 

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @order.user.name %>'s Package"
          data-amount="89900"
          data-email="<%=@order.user.email %>">
          </script>
<% end %>
</div>

